
table{
   display: table;
   border:solid 2px;
   height: 100%;
   width: 100%;
   margin:0px 50px 10px 0px;
   padding:0px 10px 15px 0px;
   text-align:center;
  }
  
  tr{
    font-size:20px;
    columns: 20 4;
  }
  h1{
    margin: 0px 0px;
    text-decoration: bold;
    font-size: 40px;
    text-align: center;
  }
  .color-h1{
    text-align: left;
    margin: 0px 0px 10px 0px;
  }
  
  .blue{
  background: rgb(45 93 204);
  color:white;
  
  }
  .pink{
  background: #d957d9;
  color:white;
  
  }
  .mint{
  background: hsl(111 62 54);
  color:white;
  
  }
  .beige{
  background: #efd9ca;
  color: white;
  
  }
  .font-h1{
    text-align: left;
  }

  .fonts-stylefam{
    text-align:left;
  }
  .font-label{
    text-decoration: underline; 
  }
  
  .source-code-pro{
    font-family: "Source Code Pro", monospace;
    font-style: normal;
  }
  .p-regular{
    font-style: plain;
  }
  .p-italics{
    font-style:italic;
  }
  .p-bold{
    font-weight: 700;
  }
  
  
  .nunito-sans{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      unicode-bidi: isolate;
  }
.text-styles{
    text-align: left;
}  
.text-container{
    border: 2px;
    border-style: solid;
    margin:25px 0px ;
    padding-top: 15px;
    padding-left: 15px;
}
nav{
  border-bottom: 2px solid black;
  width: 50%;
  margin-bottom: 25px;
}
.breadcrumb {
  text-align: left;
}
  .breadcrumb a {
    text-decoration: none;
 }

.breadcrumb li {
  display: inline;
}

.location li {
  display: inline-block;
  padding-right: 10px;
}

 .breadcrumb li.location + li.location::before {
  display: inline-block;
  color: #000;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
.breadcrumb a:hover {
  color: red;
 }